<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
{%- include rel.html %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">
<meta name="theme-color" content="#E82127">
<link rel="icon" href="{{ rel }}assets/img/favicon.svg" type="image/svg+xml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Chakra+Petch:wght@600;700&display=swap">
<link rel="stylesheet" href="{{ rel }}assets/css/site.css">
{% seo %}
{% feed_meta %}
</head>
<body>
<a class="skip" href="#main">{{ site.t.skip }}</a>
{% include header.html %}
<main id="main">
{{ content }}
</main>
{% include footer.html %}
</body>
</html>
